<!DOCTYPE HTML>
<html layout:decorator="base/base">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Getting Started: Serving Web Content</title>
</head>
<section layout:fragment="conteudo">
	<div class = "row">
		<div class="col-md-3">
			<p class="lead"> Selelect the database:</p>
			<select class = "form-control" ng-model="dbAvalilable" ng-options="x for x in databasesAvailable" ng-change="loadDbSchema()"></select>
			<ul style="padding-left: 5px; margin-top: 10px" ng-repeat = "(table, attributes) in dbSchema">
			<button type="button" class="btn btn-link" ng-click="addTextToFormulaBox(table)">{{table}}</button>
			<li ng-repeat="attribute in attributes" style="margin-left: 40px; margin-top: 0px">
				<button type="button" class="btn btn-link" ng-click="addTextToFormulaBox(attribute)" style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px"> {{attribute}}</button>
			</li>	
			</ul>
		</div>
		
		<div class="col-md-9">
			<div>
				<form ng-submit="submitFormula()">
			    	<div class = "form-group">	
			    		
			    		<!-- Projection -->
			    		<div class = "lead">Projection</div>
			    		<input type="text" class ="form-control input-lg" id="projection" ng-model="projection"></input> 
			    		<br/>
			    		
			    		<!-- Predicate -->
			    		<div class="lead">Predicate</div>
    					<div class="btn-group-justified">
							<a type="button" class="btn btn-primary" ng-click="addTextToFormulaBox('∀')" style="border-bottom-left-radius: 0em; border-bottom-right-radius: 0em;">∀</a>
							<a type="button" class="btn btn-primary" ng-click="addTextToFormulaBox('∃')" style="border-bottom-left-radius: 0em; border-bottom-right-radius: 0em;">∃</a>
							<a type="button" class="btn btn-primary" ng-click="addTextToFormulaBox('∧')" style="border-bottom-left-radius: 0em; border-bottom-right-radius: 0em;">∧</a>
							<a type="button" class="btn btn-primary" ng-click="addTextToFormulaBox('∨')" style="border-bottom-left-radius: 0em; border-bottom-right-radius: 0em;">∨</a>
							<a type="button" class="btn btn-primary" ng-click="addTextToFormulaBox('→')" style="border-bottom-left-radius: 0em; border-bottom-right-radius: 0em;">→</a>
							<a type="button" class="btn btn-primary" ng-click="addTextToFormulaBox('¬')" style="border-bottom-left-radius: 0em; border-bottom-right-radius: 0em;">¬</a>
						</div>
						
						<div class="btn-group-justified">
							<a type="button" class="btn btn-primary" ng-click="addTextToFormulaBox('=')" style="border-radius: 0em">=</a>
							<a type="button" class="btn btn-primary" ng-click="addTextToFormulaBox('≠')" style="border-radius: 0em">≠</a>
							<a type="button" class="btn btn-primary" ng-click="addTextToFormulaBox('≥')" style="border-radius: 0em">≥</a>
							<a type="button" class="btn btn-primary" ng-click="addTextToFormulaBox('≤')" style="border-radius: 0em">≤</a>
							<a type="button" class="btn btn-primary" ng-click="addTextToFormulaBox('&gt;')" style="border-radius: 0em">&gt;</a>
							<a type="button" class="btn btn-primary" ng-click="addTextToFormulaBox('&lt;')" style="border-radius: 0em">&lt;</a>
						</div>
						
			    		<input type="text" class="form-control input-lg" id="trcformula" ng-model="trcformula" style="border-top-left-radius: 0em; border-top-right-radius: 0em;"></input>
			    					    	
			    	</div>
			    	<button type="submit" class="btn btn-primary">Transform</button>
				</form>
				<br/>
				
				<div class="lead">OUTPUT Formula:</div>
				<input type="text" class="form-control input-lg" id="outputformula" ng-model="outputformula" readonly="readonly"></input>
				
				<div class="lead">SQLNF Formula:</div>	
				<input type="text" class="form-control input-lg" id="sqlnfformula" ng-model="sqlnfformula" readonly="readonly"></input>
				
				<div class="lead">SQL Expression:</div>
				<input type="text" class="form-control input-lg" id="sqlexpression" ng-model="sqlexpression" readonly="readonly"></input>
			</div>
		</div>
		
		
	</div>
	<script>
		
	</script>
</section>
</html>