<!DOCTYPE HTML>
<html layout:decorator="base/base">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Getting Started: Serving Web Content</title>
</head>
<section layout:fragment="conteudo">
	<div class = "row">
		<div class="col-md-4">
			<p class="lead"> Selelect the database:</p>
			<select class = "form-control" ng-model="dbAvalilable" ng-options="x for x in databasesAvailable" ng-change="loadDbSchema()"></select>
			<ul ng-repeat = "(table, attributes) in dbSchema">
			{{table}}
			<li ng-repeat="attribute in attributes">{{attribute}}</li>	
			</ul>
		</div>
		<div class="col-md-8">
			<button class="btn btn-success">New IsA Formula</button>
			<form ng-submit="submitFormula()">
		    	<div class = "form-group">
		    		<label for="trcformula" class="form-control-label">TRC Formula</label>
		    		<input type="text" class="form-control" id="trcformula" ng-model="trcformula"></input>
		    	</div>
		    	<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
	<script>
		
	</script>
</section>
</html>