<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<title>TRCtoSQLTool</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}"/>
	<!--  <link rel="stylesheet" th:href="@{/materialize/fonts/icons/material-icons.css}"/> -->
    <!--  <link rel="stylesheet" th:href="@{/materialize/fonts/icons/material-icons-google.css}"/> -->

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    
</head>

<body ng-app="myApp">
	<div class="container" ng-controller="TrcToSql">
		<h1></h1>
		<!--  <div th:replace="base/header :: header"></div> -->
		
		<div class="page-content">
			<section class="" layout:fragment="conteudo"></section>
		</div>
	</div>
    <!--  <div th:replace="base/footer :: footer"></div>  -->
		
    <!-- Plugins externos e JQuery -->
    
    <script type="text/javascript" th:src="@{/plugins/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/jquery-ui/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/plugins/angular/angular.js}"></script>
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
    
</body>
</html>