<footer class="footer">
	<div class="container">
		<div class="row">
		
			<div class="col-md-4"
				style="text-align: center; ">
				<a target="_blank" href="http://www.ufc.br/">
					<img th:src="@{/rdbtordf/img/Brasaoufc_horizontal_whitename.png}" src="/rdbtordf/img/Brasaoufc_horizontal_whitename.png" height="70px"> </img>
				</a>
			</div>
			<div class="col-md-4"
				style="text-align: center;	">
				<a target="_blank" href="http://www.arida.ufc.br/">
					<img th:src="@{/rdbtordf/img/logo-arida.png}" src="/rdbtordf/img/logo-arida.png" height="70px"> </img>
				</a>
			</div>
			<div class="col-md-4"
				style="text-align: center;">
				<a target="_blank" href="http://portal.dc.ufc.br/">
					<img th:src="@{/rdbtordf/img/logodc1.png}" src="/rdbtordf/img/logodc1.png" height="70px"> </img>
				</a>
			</div>
			
		</div>
	</div>

</footer>