<header class="navbar navbar-default" th:fragment="header">
    <nav >
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> 
          <a class="navbar-brand" th:href="@{/}">TRC Educational Tool</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right" style="padding-right: 20px">
            <li><a th:href="@{/}" class="waves-effect waves-light">Tool</a></li>
            <li><a th:href="@{/about}" class="waves-effect waves-light">About</a></li>
            
          </ul>  
    
        </div><!--/.nav-collapse -->
    </div>
  </nav>  
</header>